body{
  font-family: arial, sans-serif;
  margin: 0;
  font-size: 1.2vw;
}

/* HEADER */
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  max-width: 30vh;
  height: auto;
}
header{
  background-color:#ffc107;
  padding: 2vh;
}
/* FOOTER */
.footer{
  background-color:#ffc107;
  padding: 1vh;
  font-size: 1.3vw;
  display: flex;
  color:black;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
}
/* MENU */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #007bff;
  text-align: center;
  float:left;

}
li a {
    font-size: 1.2vw;
  display: block;
  color: rgb(233, 231, 231);
  padding: 8px 16px;
  text-decoration: none;
}
li a.active {
  background-color: black;
  color: white;
}
li a:hover:not(.active) {
  background-color: #17a2b8;

  color: white;
}

/* COLUMN */
.column1{
  padding: 5px;
  width: 98.5%;
  /* background-color: burlywood; */
  margin-top: 1vh;
}
.column {
  padding: 5px;
  display: inline-table;
  width: 48.7%;
  /* background-color: burlywood; */
  margin-top: 1vh;
}
/* INPUT */
textarea,input {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ffc107;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 6px;
}

input:focus {
  border: 3px solid black;
}
textarea:focus {
  border: 3px solid black;
}
/* SELECT */
select {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 5px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-size: 1.2vw;
}

/* BUTTON */
.button1 {
  display: inline-block;
  padding: 1.2vh;
  width: 20vh;
  font-size: 1.1vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(7, 224, 0);
  border: none;
  border-radius: 8px;
}
.button2 {
  display: inline-block;
  padding: 1.2vh;
  width: 20vh;
  font-size: 1.1vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 8px;

}
.button3 {
  display: inline-block;
  padding: 1.2vh;
  width: 20vh;
  font-size: 1.1vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;

}
.button1:hover {background-color: black}
.button2:hover {background-color: black}
.button3:hover {background-color: black}

/* TABLE */
table {
  border-collapse: collapse;
  width: 100%;
}
th{
  text-align: center;
  border: 3px solid #07ffff;
  padding: 8px;
  background-color: #a2f3f3
}
td{
  border: 3px solid #07ffff;
  text-align: left;
  padding: 8px;
  background-color: #a2f3f3
}

tr:nth-child(even) {
  background-color: #ffd861;
}

/* CODE */
h3{
  text-align: center;
}
.main {
  background-color: #007bff;
}
.main section {
  margin-left: 17%;
  padding: 10px;
  background: #FFF;
}